.main-container {
  margin: auto;
}
.info-container {
  width: 60%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  border-bottom: 1px solid gray;
}

.pic-container {
  margin-right: 30px;
  position: relative;
}
.overlay {
  text-align: center;
  margin-top: -1.3rem;
  font-family: "Grand Hotel", cursive;
  /*  font-size: 1.5rem;
  font-style: italic; */
  cursor: pointer;
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  opacity: 0;
  color: white;
  font-size: 20px;
  display: block;
  height: 160px;
  width: 160px;
  border-radius: 80px;
  padding: 60px 32px;
  object-fit: cover;
  margin: 0.5rem 3rem;
}

.profile-pic {
  display: block;
  height: 160px;
  width: 160px;
  border-radius: 80px;
  padding: 4px;
  object-fit: cover;
  margin: 0.5rem 3rem;
}
.pic-container:hover .overlay {
  opacity: 1;
}

.follow-info h6 {
  display: inline;
  margin: 0.5rem;
}

.user-data {
  flex-grow: 2;
  width: 400px;
}

/* Gallery */
.gallery {
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  width: 30%;
  object-fit: cover;
  margin-top: 20px;
}
