.main {
  width: 60%;
  margin: auto;
}
.home {
  max-width: 600px;
  height: max-content;
  margin: 30px;
}
.heart:hover {
  cursor: pointer;
}

.comments {
  margin-left: 0.3rem;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-img-name {
  display: flex;
  align-items: center;
}
.home-profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  padding: 1px;
  border: 2px solid rgb(241, 74, 23);
  object-fit: cover;
  margin: 0.5rem;
}
